.empData {
    border : 1px solid gray;
    box-shadow: 5px 5px 5px black;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #ffffff;
}

.formContent {
    margin: 15px;
}

.formInput {
    margin-top: 15px;
    margin-bottom: 15px;
}

.formSubmit {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.empTable {
    width: 100%;
    border: 1px solid black;
}

.empTable td {
    text-align: left;
}

.empTable th {
    border-bottom: 2px solid black;
}